{% extends "pages/base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

{% load static %}
<link href="{% static 'css/home.css' %}" rel="stylesheet">

{% block navbar %}
    {% include "includes/navbar.html" %}
{% endblock %}

{% if messages %}
    <div class="alert alert-success alert-dismissible fade show" role="alert" style="position: absolute; top: 70px; left: 50%; transform: translateX(-50%); z-index: 1000; max-width: 600px;">
        {% for message in messages %}
            {{ message }}
        {% endfor %}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endif %}

<div class="text-center">
    <h1 class="display-4">Corona Infos</h1>
    <p class="lead">Alle Infos in deiner Nähe</p>
    <div class="d-flex justify-content-center position-relative">
        <div class="input-group mt-4" style="max-width: 600px; width: 100%;">
            <input type="text" id="search-input" class="form-control" placeholder="Stadt / Landkreis / Bezirk / ..." style="text-align: center;">
            <button class="btn btn-primary" id="search-button" type="button">Search</button>
        </div>

        <div id="search-results" class="dropdown-menu search-result" style="width: 100%; max-width: 600px; display: none; position: absolute; top: 100%; z-index: 1000; background-color: #1e2122; color: white;">
        </div>
    </div>
</div>


{% endblock content %}

{% block javascripts %}
<script src="{% static 'js/live_search.js' %}"></script>
<script src="{% static 'js/search_button.js' %}"></script>
{% endblock javascripts %}