{% extends "pages/base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

{% load static %}
<link href="{% static 'css/search.css' %}" rel="stylesheet">

{% block navbar %}
    {% include "includes/navbar.html" %}
{% endblock %}

<ul class="custom-dropdown">
    <h2 class="search-title">Suchergebnis für: {{ query }}</h2>
    {% if querySucceeded %}
        {% for item in results %}
            {% if item.type|lower == "stadt" %}
                <a class="dropdown-item" href='{% url "details" item.id %}?type={{ item.type }}'>{{ item.name }} (PLZ: {{ item.plz }})</a>
            {% elif item.type|lower == "landkreis" %}
                <a class="dropdown-item" href='{% url "details" item.id %}?type={{ item.type }}'>{{ item.name }} ({{ item.type }})</a>
            {% else %}
                <a class="dropdown-item" href='{% url "details" item.abbreviation %}?type={{ item.type }}'>{{ item.name }} ({{ item.type }})</a>
            {% endif %}
        {% empty %}
        <div class="dropdown-error">
            Die Suche hat leider keine Ergebnisse<br>
            geliefert, bitte probiere es erneut!<br>
            <a class="btn btn-primary" href="{% url 'home' %}">zurück zur Homepage</a>  
        </div>
        {% endfor %}
    {% else %}
        <div class="dropdown-error">
            Die Suche hat zu viele Ergebnisse geliefert, <br>
            bitte spezifiziere deine Suche und probiere es erneut! <br>

            <a class="btn btn-primary" href="{% url 'home' %}">zurück zur Homepage</a>  
        </div>
    {% endif %}
</ul>


{% endblock content %}

{% block javascripts %}
{% endblock javascripts %}