body {
    background-color: #1e2122;
    color: #f0f0f0;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.hero {
    background-image: url('../images/background.webp');
    background-size: cover;
    background-position: center;
    min-height: 100vh;  /* Hero nimmt mindestens die Höhe des Viewports ein */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: -1;
}

.hero p.lead {
    font-size: 1.5rem;
    color: #f0f0f0;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}

.content {
    background-color: #1e2122;
}

