.info-section {
    background-color: #1e2122;
    color: #FFFFFF;
}

.info-section .badge {
    margin-right: 5px;
}

.info-section .badge-primary {
    background-color: #4da6ff;
    color: #ffffff;
}

.info-section .badge-secondary {
    background-color: #ff9500;
    color: #ffffff;
}

.badge-primary {
    background-color: #3b82f6;
}

.badge-secondary {
    background-color: #60a5fa;
}

.footer {
    background-color: #1e2122;
    color: white;
    padding: 10px 0;
    text-align: center;
    width: 100%;
}

footer.info-section {
    filter: none !important;
    backdrop-filter: none !important;
    text-shadow: none !important;
}