.info-section {
    padding: 20px 0;
    background-color: #ffffff;
    color: #333333;
}

.info-section .badge {
    margin-top: 10px;
    margin-right: 5px;
}

.info-section .badge-primary {
    background-color: #4da6ff;
    color: #ffffff;
}

.info-section .badge-secondary {
    background-color: #ff9500;
    color: #ffffff;
}

.badge-primary {
    background-color: #3b82f6;
}

.badge-secondary {
    background-color: #60a5fa;
}


footer {
    background-color: #16253b;
    color: #f0f0f0;
}