body {
    background-color: #1e3a5f; /* Helles Beige */
    color: #f0f0f0; /* Dunkles Grau für Text */
    font-family: Arial, sans-serif;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

html, body {
    height: 100%;
    margin: 0;
}

.content {
    flex: 1; /* Dies sorgt dafür, dass der Inhalt den restlichen verfügbaren Raum einnimmt */
}

.hero {
    background-image: url('../images/background3.webp');
    background-size: cover;
    background-position: center;
    height: 92vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.hero h1 {
    font-size: 3.5rem; /* Größere Schriftgröße */
    font-weight: 700; /* Fett */
    color: #f0f0f0; /* Helles Grau */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Schlagschatten */
}

.hero p.lead {
    font-size: 1.5rem; /* Größere Schriftgröße für den Lead-Text */
    color: #f0f0f0; /* Helles Grau */
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7); /* Schlagschatten */
}

.search-bar {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 15px;
    border-radius: 30px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

h1, h2, h3, h4, h5, h6 {
    color: #f0f0f0; /* Dunkles Grau */
}

.btn-primary {
    background-color: #3b82f6; /* Helles Blau */
    border-color: #4da6ff;
}

.btn-primary:hover {
    background-color: #60a5fa; /* Ein etwas dunkleres Blau für den Hover-Zustand */
    border-color: #60a5fa;
}