body {
    background-color: #1e3a5f; /* Helles Beige */
    color: #f0f0f0; /* Dunkles Grau für Text */
    font-family: Arial, sans-serif;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

html, body {
    height: 100%;
    margin: 0;
}

.content {
    flex: 1; /* Dies sorgt dafür, dass der Inhalt den restlichen verfügbaren Raum einnimmt */
}

.hero {
    background-image: url('../images/background3.webp');
    background-size: cover;
    background-position: center;
    height: 92vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    position: relative;
    z-index: 1;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3); /* Dunkleres Overlay hinter der Überschrift */
    z-index: -1; /* Overlay hinter den Text legen */
}

h1.display-4 {
    font-size: 4rem; /* Vergrößert die Schriftgröße */
    color: #ffffff; /* Beibehaltung von Weiß für die Schrift */
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7); /* Schlagschatten für bessere Lesbarkeit */
    font-weight: bold; /* Stellt sicher, dass die Schrift fett ist */
}



.hero p.lead {
    font-size: 1.5rem; /* Größere Schriftgröße für den Lead-Text */
    color: #f0f0f0; /* Helles Grau */
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7); /* Schlagschatten */
}

.search-bar {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 15px;
    border-radius: 30px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.input-group {
    background-color: rgba(0, 0, 0, 0.5); /* Halbtransparenter schwarzer Hintergrund */
    border-radius: 30px; /* Abgerundete Ecken */
    padding: 10px; /* Breitere Umrandung */
    max-width: 600px; /* Feste maximale Breite für das Eingabefeld */
    margin: auto; /* Zentriert den Input */
}

.input-group .form-control {
    border: none; /* Entfernt den Rand des Eingabefelds */
    background-color: rgba(255, 255, 255, 0.9); /* Leicht transparentes Weiß für das Input-Feld */
    color: #000000; /* Schwarzer Text für bessere Lesbarkeit */
    border-radius: 30px; /* Runde Ecken des Eingabefeldes */
}

.input-group .btn-primary {
    border-radius: 0 30px 30px 0; /* Nur die rechte Seite des Buttons abrunden */
    margin-left: 5px; /* Abstand zum Input-Feld */
}


h1, h2, h3, h4, h5, h6 {
    color: #f0f0f0; /* Dunkles Grau */
}

.btn-primary {
    background-color: #3b82f6; /* Helles Blau */
    border-color: #4da6ff;
}

.btn-primary:hover {
    background-color: #60a5fa; /* Ein etwas dunkleres Blau für den Hover-Zustand */
    border-color: #60a5fa;
}